*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-size: 62,5%;
  font-family: 'Rubik', sans-serif;
  background: rgb(252, 252, 252);
}

h1{
  font-size: 1.8rem;
  color:white;
}
.conta{
  width: 100%;
  height:100%;
  padding: 0 !important;
  position: absolute;

}


.back{
  background: url(./images/pattern-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 18rem;
  width: 100%;
  padding: 0 !important;
  margin: 0;
}

label{
  background-color: white;
  height: 3rem;
  border-radius: .7rem ;
}
input{
  background-color: transparent;
  width: 30rem;
  border: none;
  color:hsl(0, 0%, 0%);
  font-weight: 500;
  padding-left: 1rem;
}
input:focus,textarea:focus, select:focus{
  outline: none;
}

button{
  width: 3.1rem;
  height: 3rem;
  border-radius: 0 .7rem .7rem 0;
  color: white;
  border: none;
  background-color: black;
}
.ping {
  color: white;
 -webkit-animation: ping 2s ease-in-out infinite both;
         animation: ping 2s ease-in-out infinite both;
         




}
@-webkit-keyframes ping {
 0% {
   -webkit-transform: scale(0.2);
           transform: scale(0.2);
   opacity: 0.8;
 }
 80% {
   -webkit-transform: scale(1.2);
           transform: scale(1.2);
   opacity: 0;
 }
 100% {
   -webkit-transform: scale(2.2);
           transform: scale(2.2);
   opacity: 0;
 }
}
@keyframes ping {
 0% {
   -webkit-transform: scale(0.2);
           transform: scale(0.2);
   opacity: 0.8;
 }
 80% {
   -webkit-transform: scale(1.2);
           transform: scale(1.2);
   opacity: 0;
 }
 100% {
   -webkit-transform: scale(2.2);
           transform: scale(2.2);
   opacity: 0;
 }
}
@media only screen and (max-width:600px) {
  input{
    width:15.5rem;
    font-size: .8rem;
 }}



/*/////////////////////////////  DISPLAY           ///////////////*/

  .bubble{
  background: white;
  height: 20vh;
  margin: 0 auto;
  width: 90%;
  border-radius: 20px;
  transform: translateY(-80px);
  position: relative;
  z-index: 100;
  }
  @media only screen and (max-width:600px) {
  .bubble{
    height: 20rem;
    transform: translateY(-140px);
    padding-left: 0 !important;
 }}




p{
  color: hsl(0, 0%, 59%);
  font-weight: 500;
  letter-spacing: .1rem;
  font-size: .7rem;
  text-transform: uppercase;
  font-family: 'Rubik', sans-serif;
  
}
@media only screen and (max-width:600px) {
  p{text-align: center;
 }}



h4{
  font-size: 1.4rem;

   
    -webkit-animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
            animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  
  
}

 @-webkit-keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
            transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
            transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}



@media only screen and (max-width:600px) {
  h4{
    text-align: center;
    font-size: .9rem;
 }}

/*/////////////////////////////   MAP            ///////////////*/
 #mapid{

   
   height: 100%;
  
  
   transform: translateY(-160px);
   z-index: 1;
 }
 @media only screen and (max-width:600px) {
  #mapid{
    height: 100%;
    transform: translateY(-325px);
 }}

 .leaflet-control-zoom,.leaflet-bar,.leaflet-control{
  display: none;
}